# Data Preparation

In [34]:
import os
import pandas as pd
import numpy as np
import datetime

In [49]:
df = pd.read_csv(r"C:\Users\daysi\OneDrive\Desktop\Capstone_Cyclist\Dataset.csv")

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3036598 entries, 0 to 3036597
Data columns (total 5 columns):
 #   Column         Dtype
---  ------         -----
 0   ride_id        object
 1   rideable_type  object
 2   started_at     datetime64[ns]
 3   ended_at       datetime64[ns]
 4   member_casual  object
dtypes: datetime64[ns](2), object(3)
memory usage: 115.8+ MB

In [44]:
df.head()

,ride_id,rideable_type,started_at,ended_at,member_casual
0,CDE6023BE6B11D2F,electric_bike,2024-06-11 17:20:06.289,2024-06-11 17:21:39.464,casual
1,462B48CD292B6A18,electric_bike,2024-06-11 17:19:21.567,2024-06-11 17:19:36.377,casual
2,9CFB6A858D23ABF7,electric_bike,2024-06-11 17:25:27.089,2024-06-11 17:30:13.035,casual
3,6365EFEB64231153,electric_bike,2024-06-11 11:53:50.769,2024-06-11 12:08:13.382,casual
4,BA0323C33134CBA8,electric_bike,2024-06-11 00:11:08.237,2024-06-11 00:11:22.998,casual

In [50]:
df = df.dropna(axis=1)

In [51]:
df = df.drop(['start_lat', 'start_lng'], axis= 1)

In [52]:
df = df.drop('Unnamed: 0', axis = 1)
df.head()

,ride_id,rideable_type,started_at,ended_at,member_casual
0,CDE6023BE6B11D2F,electric_bike,2024-06-11 17:20:06.289,2024-06-11 17:21:39.464,casual
1,462B48CD292B6A18,electric_bike,2024-06-11 17:19:21.567,2024-06-11 17:19:36.377,casual
2,9CFB6A858D23ABF7,electric_bike,2024-06-11 17:25:27.089,2024-06-11 17:30:13.035,casual
3,6365EFEB64231153,electric_bike,2024-06-11 11:53:50.769,2024-06-11 12:08:13.382,casual
4,BA0323C33134CBA8,electric_bike,2024-06-11 00:11:08.237,2024-06-11 00:11:22.998,casual

In [42]:
print(df['rideable_type'].unique())

['electric_bike' 'classic_bike' 'electric_scooter']

In [53]:
df['started_at'] = pd.to_datetime(df['started_at'])
df['ended_at'] = pd.to_datetime(df['ended_at'])

In [54]:
df['ride_journey'] = (((df['ended_at'] - df['started_at']).dt.total_seconds()) / 60).round(2)

In [55]:
df.head()

,ride_id,rideable_type,started_at,ended_at,member_casual,ride_journey
0,CDE6023BE6B11D2F,electric_bike,2024-06-11 17:20:06.289,2024-06-11 17:21:39.464,casual,1.55
1,462B48CD292B6A18,electric_bike,2024-06-11 17:19:21.567,2024-06-11 17:19:36.377,casual,0.25
2,9CFB6A858D23ABF7,electric_bike,2024-06-11 17:25:27.089,2024-06-11 17:30:13.035,casual,4.77
3,6365EFEB64231153,electric_bike,2024-06-11 11:53:50.769,2024-06-11 12:08:13.382,casual,14.38
4,BA0323C33134CBA8,electric_bike,2024-06-11 00:11:08.237,2024-06-11 00:11:22.998,casual,0.25

In [58]:
Data_final = df.to_csv(r"C:\Users\daysi\OneDrive\Desktop\Capstone_Cyclist\Dataset_Final.csv",index = False)