# Preparing Cyclist Data

## 1. Extracting all the zip files to get the csv files [raw data]

In [12]:
import os 
import zipfile
import pandas as pd
import glob

In [3]:
# get the directory where the zip files were stored and where you want to extract the files

zip_directory = r"C:\Users\daysi\OneDrive\Desktop\Capstone_Cyclist\Data_zip"
extract_directory = r"C:\Users\daysi\OneDrive\Desktop\Capstone_Cyclist\Data_extract"

In [4]:
# Now extract all the zip files from the directory

for filename in os.listdir(zip_directory):
    if filename.endswith(".zip"):
        with zipfile.ZipFile(os.path.join(zip_directory, filename), 'r') as zip_ref:
            zip_ref.extractall(extract_directory)

## 2. Now gathering the required data out of all the extracted files.

In [4]:
# Let's create a new directory only for the monthly trip data.
# All the monthly data is of the format YEARMONTH-divy-tripdata.csv and YEARMONTH-divy-publictripdata.csv, so lets separate them from rest of the data.

csv_files = glob.glob(os.path.join(extract_directory, '*-divvy-tripdata.csv')) + glob.glob(os.path.join(extract_directory, '*-divvy-publictripdata.csv'))

# Create a list which contains all the csv files of each month trip data.

df_list = []

for file in csv_files :
    df = pd.read_csv(file)
    df_list.append(df)

In [5]:
# Now combile all the files into single dataframe

combined_df = pd.concat(df_list, ignore_index=True)

In [ ]:
combined_df.head()

In [ ]:
# Now lets create a new csv file to store the gathered data.

combined_df.to_csv(r"C:\Users\daysi\OneDrive\Desktop\Capstone_Cyclist\Data_monthly.csv", index = False)

## 3. In the above block we got data from 04-2020 to 09-2024 now let's gather remaining data since 2013.

### Year 2013

In [5]:
# Now in 2013 trip data folder we have one more zip file let's unzip it and check out the data.

for filename in os.listdir(r"C:\Users\daysi\OneDrive\Desktop\Capstone_Cyclist\Data_extract\Divvy_Stations_Trips_2013"):
    if filename.endswith(".zip"):
        with zipfile.ZipFile(os.path.join(r"C:\Users\daysi\OneDrive\Desktop\Capstone_Cyclist\Data_extract\Divvy_Stations_Trips_2013", filename), 'r') as zip_ref:
            zip_ref.extractall(r"C:\Users\daysi\OneDrive\Desktop\Capstone_Cyclist\Data_extract\Divvy_Stations_Trips_2013")


# We found no useful data in the extracted zip file.
# we do have Divvy_Trips_2013.csv file which has 2013 trip data

### Year 2014

In [8]:
# it seems we have data from 3rd and 4th Quaters of year 2014 in a folder and Q1, Q2 as a xlsx sheet and csv file as well ouside the folder so let's add them to a single year file

current_dir = r"C:\Users\daysi\OneDrive\Desktop\Capstone_Cyclist\Data_extract\Divvy_Stations_Trips_2014_Q3Q4"
another_dir = r"C:\Users\daysi\OneDrive\Desktop\Capstone_Cyclist\Data_extract"

year_2014 = glob.glob(os.path.join(current_dir, 'Divvy_Trips_2014*.csv')) + glob.glob(os.path.join(another_dir, 'Divvy_Trips_2014*.csv'))

df_list = []

for file in year_2014:
    df = pd.read_csv(file)
    df_list.append(df)


year_2014_csv = pd.concat(df_list, ignore_index= True)

year_2014_csv.to_csv(r"C:\Users\daysi\OneDrive\Desktop\Capstone_Cyclist\Data_2014.csv", index= False)

### Year 2015 to 2020 Q1

In [10]:
# Now let's append all the remaining data as well

current_dir = r"C:\Users\daysi\OneDrive\Desktop\Capstone_Cyclist\Data_extract"

remaining_Trip_data = glob.glob(os.path.join(current_dir, 'Divvy_Trips_*.csv'))

df_list = []

for files in remaining_Trip_data:
    df = pd.read_csv(files)
    df_list.append(df)

remain_data = pd.concat(df_list, ignore_index= True)

remain_data.to_csv(r"C:\Users\daysi\OneDrive\Desktop\Capstone_Cyclist\Data_extract\remain_Data.csv", index = False)

## Final Step to accumulate all the Trip data after arranging, sorting and filtering

### Step 1 : Make sure that all the csv files have same headers before merging.

In [7]:
# Let's see if all the files were are going to merge have headers

df = pd.read_csv(r"Data_monthly.csv")

df.head()

C:\Users\daysi\AppData\Local\Temp\ipykernel_13756\151832285.py:3: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r"Data_monthly.csv")

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,A847FADBBC638E45,docked_bike,2020-04-26 17:45:14,2020-04-26 18:12:03,Eckhart Park,86,Lincoln Ave & Diversey Pkwy,152.0,41.8964,-87.6610,41.9322,-87.6586,member
1,5405B80E996FF60D,docked_bike,2020-04-17 17:08:54,2020-04-17 17:17:03,Drake Ave & Fullerton Ave,503,Kosciuszko Park,499.0,41.9244,-87.7154,41.9306,-87.7238,member
2,5DD24A79A4E006F4,docked_bike,2020-04-01 17:54:13,2020-04-01 18:08:36,McClurg Ct & Erie St,142,Indiana Ave & Roosevelt Rd,255.0,41.8945,-87.6179,41.8679,-87.6230,member
3,2A59BBDF5CDBA725,docked_bike,2020-04-07 12:50:19,2020-04-07 13:02:31,California Ave & Division St,216,Wood St & Augusta Blvd,657.0,41.9030,-87.6975,41.8992,-87.6722,member
4,27AD306C119C6158,docked_bike,2020-04-18 10:22:59,2020-04-18 11:15:54,Rush St & Hubbard St,125,Sheridan Rd & Lawrence Ave,323.0,41.8902,-87.6262,41.9695,-87.6547,casual

In [10]:
print(df.columns)

Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual'],
      dtype='object')

In [5]:
df = pd.read_csv(r"Data_2014.csv", nrows= 1000)
df.head()

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,gender,birthyear
0,2886259,7/31/2014 23:56,8/1/2014 0:03,2602,386,291,Wells St & Evergreen Ave,53,Wells St & Erie St,Subscriber,Female,1979.0
1,2886258,7/31/2014 23:58,8/1/2014 0:07,2403,495,98,LaSalle St & Washington St,106,State St & Pearson St,Subscriber,Male,1974.0
2,2886257,7/31/2014 23:58,8/1/2014 2:10,669,7947,240,Sheridan Rd & Irving Park Rd,240,Sheridan Rd & Irving Park Rd,Customer,NaN,NaN
3,2886256,7/31/2014 23:58,8/1/2014 0:19,2431,1282,47,State St & Kinzie St,14,Morgan St & 18th St,Customer,NaN,NaN
4,2886255,7/31/2014 23:57,8/1/2014 2:10,2885,7972,240,Sheridan Rd & Irving Park Rd,240,Sheridan Rd & Irving Park Rd,Customer,NaN,NaN

In [17]:
# Example format for dates, adjust according to your actual format
df['started_at'] = pd.to_datetime(df['started_at'], format='%Y-%m-%d %H:%M:%S.%f', errors='coerce')

# Example format for dates, adjust according to your actual format
df['ended_at'] = pd.to_datetime(df['ended_at'], format='%Y-%m-%d %H:%M:%S.%f', errors='coerce')


starting = df['started_at'].min()
ending = df['started_at'].max()
type(df['started_at'])
#print(starting,ending, sep = "  ")

pandas.core.series.Series

In [20]:
# Let's gather last 12 months of data

# Calculate the date 12 months ago
last_12_months_date = df['started_at'].max() - pd.DateOffset(months=12)

# Filter the DataFrame for the last 12 months
df_last_12_months = df[df['started_at'] >= last_12_months_date]

# LET'S GET THIS DATA INTO A NEW FILE WHICH WE CONSIDER AS OUR DATASET FOR FUTURE ANALYSIS

dataset = df_last_12_months.to_csv(r"C:\Users\daysi\OneDrive\Desktop\Capstone_Cyclist\Dataset.csv")

In [6]:
df = pd.read_csv(r"remain_Data.csv", nrows= 1000)
df.head()

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,...,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,2355134.0,6/30/2014 23:57,7/1/2014 0:07,2006.0,604,131.0,Lincoln Ave & Belmont Ave,303.0,Broadway & Cornelia Ave,Subscriber,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2355133.0,6/30/2014 23:56,7/1/2014 0:00,2217.0,263,282.0,Halsted St & Maxwell St,22.0,May St & Taylor St,Subscriber,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2355130.0,6/30/2014 23:33,6/30/2014 23:35,2798.0,126,327.0,Sheffield Ave & Webster Ave,225.0,Halsted St & Dickens Ave,Subscriber,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2355129.0,6/30/2014 23:26,7/1/2014 0:24,173.0,3481,134.0,Peoria St & Jackson Blvd,194.0,State St & Wacker Dr,Subscriber,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2355128.0,6/30/2014 23:16,6/30/2014 23:26,173.0,638,320.0,Loomis St & Lexington St,134.0,Peoria St & Jackson Blvd,Subscriber,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
current_dir = r"C:\Users\daysi\OneDrive\Desktop\Capstone_Cyclist"

final_data = glob.glob(os.path.join(current_dir, '*.csv'))

dtype_spec = {
    'start_station_name': 'str',  
    'end_station_name': 'str' 
}

chunk_size = 1000000

df_list = []
for files in final_data:
    for chunk in pd.read_csv(files, chunksize=chunk_size, dtype=dtype_spec, low_memory=False):
        df_list.append(chunk)

final_data_combined = pd.concat(df_list, ignore_index=True)

final_data_combined.to_csv(r"C:\Users\daysi\OneDrive\Desktop\Capstone_Cyclist\Data_Final.csv")